<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Home Page</title>
</head>
<body>
<h1><strong>Hello!</strong></h1>
<img th:src="@{/images/home.png}"/><br>

<a th:href="@{/course/category/name}" id="category">
    <button type="button">Sort by category</button> </a><br><br>

<a th:href="@{/course/lastname/home}" id="teacher">
    <button type="button">Sort by teachers</button> </a><br><br>

<a th:href="@{/course/read/all}" id="create">
    <button type="button">View all courses</button> </a><br><br>

<a th:href="@{/course/teacher}" id="teach">
    <button type="button">Go to the teacher page</button> </a>

<a th:href="@{/course/student}" id="student">
    <button type="button">Go to the student page</button> </a>
</body>
</html>